<div>
    Amount of days: <select ng-options="day for day in daysOptions" ng-model="daysSelected" ng-change="updateWeather()"></select>
</div>
<div>
    Last Updated {{lastUpdated | date: 'medium'}}
</div>
<div ng-repeat="weatherDay in weatherData.list" class="col-md-4 weather-box">
    <div>{{weatherDay.dt * 1000 | date:'fullDate'}}</div>
    <div ng-include="'images/weather/' + weatherDay.weather[0].main + '.svg'"></div>
    <div>{{weatherDay.weather[0].main}}</div>
    <div>Min {{weatherDay.temp.min}} / Max {{weatherDay.temp.max}}</div> 
</div>
